<div class="center hero-unit">
	<h1>Welcome to The Lab</h1>
	<p>
		Yes here it is the first experiment of Rails by me.
		<%= link_to "Aldi Daswanto", "http://aldi.daswanto.com" %>
	</p>
	<p>
		<%= link_to "Sign Up Now", "#" , class:"btn btn-large btn-primary" %>
	</p>
</div>